################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CppCOMLibrary/CppCOMLibrary/RCa05652
